defaults:
  - document_store: jsonl
  - embedder: e5
  - embedding_store: numpy
  - generator: openai
  - override hydra/job_logging: custom
  - _self_

dirs:
  data: data
  raw: raw
  processed: processed
  final: final
  models: models

# Demo parameters
host: localhost
port: 7860
share: false
password_protected: false
username: admin
password: admin
mode: feedback
db_path: ${dirs.final}/feedback.db
theme: monochrome
title: >
  RAG Bot
description: |
  En robot, der kan svare p친 alle dine sp칮rgsm친l!

  Skriv dit sp칮rgsm친l i tekstboksen og tryk p친 'Indsend' eller Enter knappen.
feedback: |
  Benyt 游녨/游녩 til at indikere om svaret er godt eller d친rligt!
thank_you_feedback: |
  Tak for dit svar! Skriv dit sp칮rgsm친l nedenfor og tryk p친 'Indsend'.
input_box_placeholder: >
  Skriv dit sp칮rgsm친l her
submit_button_value: >
  Indsend
no_documents_reply: >
  Jeg er desv칝rre ikke i stand til at svare p친 dit sp칮rgsm친l ud fra den viden, som
  jeg har til r친dighed. Beklager!

#Miscellaneous parameters
random_seed: 703
verbose: false
