defaults:
  - override hydra/job_logging: custom
  - _self_

dirs:
  data: data
  raw: raw
  processed: processed
  final: final
  models: models

document_store:
  type: jsonl
  jsonl:
    filename: ${dirs.processed}/document_store.jsonl

embedding_store:
  type: numpy
  numpy:
    num_documents_to_retrieve: 5

embedder:
  type: e5
  e5:
    model_id: intfloat/multilingual-e5-large
    document_text_field: text

generator:
  type: openai
  openai:
    api_key_variable_name: OPENAI_API_KEY
    model: gpt-4-turbo-2024-04-09
    temperature: 0.0
    max_tokens: 256
    stream: true
    timeout: 60

demo:
  host: localhost
  port: 7860
  share: false
  password_protected: false
  username: admin
  password: admin
  theme: monochrome
  title: >
    RAG Bot
  description: |
    En robot, der kan svare på alle dine spørgsmål!

    Skriv dit spørgsmål i tekstboksen og tryk på 'Indsend' eller Enter knappen.
  input_box_placeholder: >
    Skriv dit spørgsmål her
  submit_button_value: >
    Indsend
  no_documents_reply: >
    Jeg er desværre ikke i stand til at svare på dit spørgsmål ud fra den viden, som
    jeg har til rådighed. Beklager!

random_seed: 703
verbose: false
